[submodule "blade-build"]
	path = blade-build
	url = git@github.com:chen3feng/blade-build.git
[submodule "ninja"]
	path = ninja
	url = git@github.com:ninja-build/ninja.git
[submodule "cpp_common"]
	path = cpp_common
	url = git@github.com:mufeng964497595/cpp_common.git
[submodule "incubator-brpc"]
	path = incubator-brpc
	url = git@github.com:mufeng964497595/incubator-brpc.git
[submodule "srpc"]
	path = srpc
	url = git@github.com:sogou/srpc.git
    ignore = dirty
